.chating-list {
  flex: 0 0 300px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  height: 100%;
}

.list-item-hover {
  background-color: #ddd;
  cursor: pointer;
}

.list-item-active {
  background-color: #c0c0c0;
}

.list-item-title {
  font-size: 16px;
  font-family: "Microsoft YaHei";
  font-weight: bold;
}

.search-bar-container {
  height: 80px;
  border-bottom: 1px solid #ddd;
}

.list-container {
  height: calc(100vh - 80px);
  overflow: auto;
}

.list-container::-webkit-scrollbar {
  width: 5px;
}

.list-container::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #c0c0c0;
}
