.send-content-item-mobile {
  margin-bottom: 20px;
  overflow: hidden;
}

.send-mesage-bubble-mobile {
  width: auto;
  height: auto;
  max-width: 300px;
  min-height: 40px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 50px;
  margin-top: -40px;
  position: relative;
  float: right;
  clear: both;
  display: "inline-block";
  padding: 10px;
  word-break: break-word;
  background-color: rgb(149, 236, 105);
  font-size: 16px;
}

.send-mesage-bubble-mobile::after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 5px solid rgb(149, 236, 105);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -10px;
  top: 15px;
}
