.add-request-list {
  flex: 0 0 400px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  height: 100%;
}

.add-request-list-container {
  height: calc(100vh - 50px);
  overflow: auto;
}

.add-request-list-container::-webkit-scrollbar {
  width: 5px;
}

.add-request-list-container::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #c0c0c0;
}

.add-request-list-item-title {
  font-size: 16px;
  font-family: "Microsoft YaHei";
  font-weight: bold;
}

.title-contianer {
  height: 50px;
  border-bottom: 1px solid #ddd;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
}
